<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.chatapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".activity.PostActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.chatapplication.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.chatapplication.activity.ChatRoom$LoginActivity" />
        </activity>
        <activity android:name=".activity.ChatRoom$LoginActivity" />
        <activity android:name=".activity.ChatRoom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.chatapplication.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.SetupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.chatapplication.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.LoginActivity"></activity>
    </application>

</manifest>